.banner{
    height: 100vh;
    width: 100%;
    background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    /* background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%); */
    /* background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%); */
    /* background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%); */
    /* background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); */
    /* background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%); */
    /* background-image: linear-gradient(to top, #505285 0%, #585e92 12%, #65689f 25%, #7474b0 37%, #7e7ebb 50%, #8389c7 62%, #9795d4 75%, #a2a1dc 87%, #b5aee4 100%); */
    /* background-image: linear-gradient(to top, #e8198b 0%, #c7eafd 100%); */
    /* background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
 background-blend-mode: multiply; */
 /* background-image: linear-gradient(to top, #e14fad 0%, #f9d423 100%); */
 /* background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%); */
 /* background-image: linear-gradient(-225deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%); */
 /* background-image: linear-gradient(-225deg, #FF057C 0%, #7C64D5 48%, #4CC3FF 100%); */
}

.bannerimg{
    width: 25vh;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5vh;
    top: 5vh;
}
.bannerbth{
    display: inline-block;
    border: 1px solid #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 8%;

}
.am-button-borderfix{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    /* background-color: rgba(125, 195, 241, 0.315); */
}